<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title + ' | Recall' %></title>
	<link href="/reset.css" type="text/css" rel="stylesheet">
	<link href="/style.css" type="text/css" rel="stylesheet">
</head>
<body>

	<header>
		<hgroup>
			<h1><a href="/">Recall</a></h1>
			<h2>'cause you're too busy to remember</h2>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p><small>An app by jimbonk!</small></p>
	</footer>
</body>
</html>