<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= @title + ' | Note Tracker' %></title>
	<% if @css %>
		<link href="/reset.css" type="text/css" rel="stylesheet">
		<link href="/style.css" type="text/css" rel="stylesheet">
	<% end %>
</head>
<body>

	<header>
		<hgroup>
			<h1><a href="/">Note Tracker</a></h1>
			<h2>'cause jimbonk told you so</h2>
		</hgroup>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p><small>An app by jimbonk!</small></p>
		<% if @css %>
			<p><small><a href="/nocss">See it without CSS</a></small></p>
		<% else %>
			<p><small><a href="/">See it with CSS</a></small></p>
		<% end %>
	</footer>
</body>
</html>